<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mvp.framework">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".module.test.view.activity.TestActivity"
            android:label="@string/title_activity_test" />

        <activity android:name=".module.test.view.activity.NuomiCategoryActivity"
            android:label=""/>

        <activity android:name=".module.test.view.activity.WeatherActivity"/>
        <activity android:name=".module.test.view.activity.NuoMiShopInfoActivity"/>
        <activity android:name=".module.test.view.activity.WeatherFragmentActivity"/>
        <activity android:name=".module.test.view.activity.NuomiCategoryFragmentActivity"/>
        <activity android:name=".module.test.view.activity.NuomiShopInfoFragmentActivity"/>

    </application>

</manifest>